---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "$50 / month",
    popular: false,
    features: [
      "7500 requests / month",

    ],
    button: {
      text: "Get Started",
      link: "https://athena-platform.vercel.app",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "$250 / month",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "45,000 requests / month",
      "24/7 Production Support",
      "Multiple LLM support",

    ],
    button: {
      text: "Get Started",
      link: "https://athena-platform.vercel.app",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "Unlimited Requests",
      "Dynamic Pricing",
      "24/7 Production Support",
      "Multiple LLM support",
      "Customer API",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Lifetime pricing, so lock in your price as we're rolling out tons of new features soon!
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
