---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Visualizations",
    description:
      "Athena creates robust visualizations of your data that can be edited and exported.",
    icon: "mdi:graph-line",
  },
  {
    title: "Connect To All Your Data",
    description:
      "Athen can integrate with all your data sources, creating a singular point of contact for all your questions.",
    icon: "icon-park-outline:circular-connection",
  },
  {
    title: "No Setup Necessary",
    description:
      "Athena does all the work to setup and connect to your data, just supply your credentials and watch as we sync with your data automatically.",
    icon: "bx:bx-box",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Unlock Your Data
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Athena comes with all the tools you need to answer questions about your data with no overhead, enabling you to spend more time building
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
