---
import { Icon } from "astro-icon";
// import awsIcon from "../../public/company-logos/awsIcon.astro";
import awsLogo from "@assets/aws-svgrepo-com.svg";
---


<div class="mt-24">
  <h2 class="text-center text-slate-500">Supported Integrations</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img src="https://asset.brandfetch.io/idSUrLOWbH/idrYS6Edpl.svg" alt="Icon" class="h-8 md:h-14"  />
    <img src="https://asset.brandfetch.io/idJz-fGD_q/idAe3_YQxf.svg" alt="Icon" class="h-8 md:h-10"  />
    <img src="https://asset.brandfetch.io/idsSceG8fK/idr0HVio4w.svg" alt="Icon" class="h-8 md:h-10"  />
    <img src="https://asset.brandfetch.io/idnq7H7qT0/ideifBVrAL.svg" alt="Icon" class="h-8 md:h-6"  />
    <img src="https://asset.brandfetch.io/idawOgYOsG/idisSB3V3T.svg" alt="Icon" class="h-8 md:h-10"  />
  </div>
</div>
